bpelContent/HotelWS.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="urn:hotel_ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="hotel_services"
	targetNamespace="urn:hotel_ws">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="urn:hotel_ws">
			<element name="add_new_constract_request">
				<complexType>
					<sequence>
						<element name="hotelId" type="int" />
						<element name="customerIdNumber" type="string" />
						<element name="companyName" type="string" />
						<element name="companyPhone" type="string" />
						<element name="companyAddress" type="string" />
						<element name="bookingRooms" type="int" />
						<element name="checkInDate" type="string" />
						<element name="checkOutDate" type="string" />
					</sequence>
				</complexType>
			</element>
			
			<element name="add_new_constract_response">
				<complexType>
					<sequence>
						<element name="result" type="string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="add_new_hotel">
		<part name="code" type="xsd:string" />
		<part name="name" type="xsd:string" />
		<part name="star" type="xsd:int" />
		<part name="city" type="xsd:string" />
		<part name="country" type="xsd:string" />
		<part name="address" type="xsd:string" />
		<part name="website" type="xsd:string" />
		<part name="phone" type="xsd:string" />
		<part name="totalRooms" type="xsd:int" />
		<part name="cost" type="xsd:int" />
	</message>
	<message name="add_new_hotel_response">
		<part name="value" type="xsd:string" />
	</message>
	<message name="is_existed_hotel">
		<part name="code" type="xsd:string" />
		<part name="name" type="xsd:string" />
	</message>
	<message name="is_existed_hotel_response">
		<part name="value" type="xsd:boolean" />
	</message>
	<message name="find_hotels_by_city">
		<part name="cityName" type="xsd:string" />
	</message>
	<message name="find_hotels_by_city_response">
		<part name="value" type="xsd:string" />
	</message>
	<message name="add_new_constract">
		<part name="add_new_constract_request" element="tns:add_new_constract_request" />
	</message>
	<message name="add_new_constract_response">
		<part name="result" element="tns:add_new_constract_response" />
	</message>
	<message name="check_available_hotel">
		<part name="hotelCode" type="xsd:string" />
	</message>
	<message name="check_available_hotel_response">
		<part name="value" type="xsd:boolean" />
	</message>
	<message name="get_all_hotels"></message>
	<message name="get_all_hotels_response">
		<part name="value" type="xsd:string" />
	</message>
	<portType name="hotel_services_port">
		<operation name="add_new_hotel">
			<input message="tns:add_new_hotel" />
			<output message="tns:add_new_hotel_response" />
		</operation>
		<operation name="is_existed_hotel">
			<input message="tns:is_existed_hotel" />
			<output message="tns:is_existed_hotel_response" />
		</operation>
		<operation name="find_hotels_by_city">
			<input message="tns:find_hotels_by_city" />
			<output message="tns:find_hotels_by_city_response" />
		</operation>
		<operation name="add_new_constract">
			<input message="tns:add_new_constract" />
			<output message="tns:add_new_constract_response" />
		</operation>
		<operation name="check_available_hotel">
			<input message="tns:check_available_hotel" />
			<output message="tns:check_available_hotel_response" />
		</operation>
		<operation name="get_all_hotels">
			<input message="tns:get_all_hotels" />
			<output message="tns:get_all_hotels_response" />
		</operation>
	</portType>
	<binding name="hotel_services_binding" type="tns:hotel_services_port">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="add_new_hotel">
			<soap:operation soapAction="add_new_hotel" />
			<input>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</output>
		</operation>
		<operation name="is_existed_hotel">
			<soap:operation soapAction="is_existed_hotel" />
			<input>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</output>
		</operation>
		<operation name="find_hotels_by_city">
			<soap:operation soapAction="find_hotels_by_city" />
			<input>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</output>
		</operation>
		<operation name="add_new_constract">
			<soap:operation soapAction="add_new_constract" />
			<input>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</output>
		</operation>
		<operation name="check_available_hotel">
			<soap:operation soapAction="check_available_hotel" />
			<input>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</output>
		</operation>
		<operation name="get_all_hotels">
			<soap:operation soapAction="get_all_hotels" />
			<input>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</output>
		</operation>
	</binding>
	<service name="hotel_service">
		<port name="hotel_services_port" binding="tns:hotel_services_binding">
			<soap:address location="http://127.0.0.1:3332/hotel_services/action" />
		</port>
	</service>
</definitions>