bpelContent/HotelWS.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="urn:hotel_ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="services"
	targetNamespace="urn:hotel_ws">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:hotel_ws">
			<xsd:complexType name="add_new_constract_request">
				<xsd:sequence>
					<xsd:element name="hotelID" type="xsd:int" />
					<xsd:element name="customerIdNumber" type="xsd:string" />
					<xsd:element name="companyName" type="xsd:string" />
					<xsd:element name="companyPhone" type="xsd:string" />
					<xsd:element name="companyAddress" type="xsd:string" />
					<xsd:element name="bookingRooms" type="xsd:int" />
					<xsd:element name="checkInDate" type="xsd:date" />
					<xsd:element name="checkOutDate" type="xsd:date" />
				</xsd:sequence>
			</xsd:complexType>
		</schema>
	</types>
	<message name="add_new_hotel">
		<part name="code" type="xsd:string" />
		<part name="name" type="xsd:string" />
		<part name="star" type="xsd:int" />
		<part name="city" type="xsd:string" />
		<part name="country" type="xsd:string" />
		<part name="address" type="xsd:string" />
		<part name="website" type="xsd:string" />
		<part name="phone" type="xsd:string" />
		<part name="totalRooms" type="xsd:int" />
		<part name="cost" type="xsd:int" />
	</message>
	<message name="add_new_hotel_response">
		<part name="value" type="xsd:string" />
	</message>
	<message name="is_existed_hotel">
		<part name="code" type="xsd:string" />
		<part name="name" type="xsd:string" />
	</message>
	<message name="is_existed_hotel_response">
		<part name="value" type="xsd:boolean" />
	</message>
	<message name="find_hotels_by_city">
		<part name="cityName" type="xsd:string" />
	</message>
	<message name="find_hotels_by_city_response">
		<part name="value" type="xsd:string" />
	</message>
	<message name="add_new_constract">
		<part name="add_new_constract_request" type="tns:add_new_constract_request" />
	</message>
	<message name="add_new_constract_response">
		<part name="result" type="xsd:string" />
	</message>
	<message name="check_available_hotel">
		<part name="hotelCode" type="xsd:string" />
	</message>
	<message name="check_available_hotel_response">
		<part name="value" type="xsd:boolean" />
	</message>
	<message name="get_all_hotels"></message>
	<message name="get_all_hotels_response">
		<part name="value" type="xsd:string" />
	</message>
	<portType name="services_port">
		<operation name="add_new_hotel">
			<input message="tns:add_new_hotel" />
			<output message="tns:add_new_hotel_response" />
		</operation>
		<operation name="is_existed_hotel">
			<input message="tns:is_existed_hotel" />
			<output message="tns:is_existed_hotel_response" />
		</operation>
		<operation name="find_hotels_by_city">
			<input message="tns:find_hotels_by_city" />
			<output message="tns:find_hotels_by_city_response" />
		</operation>
		<operation name="add_new_constract">
			<input message="tns:add_new_constract" />
			<output message="tns:add_new_constract_response" />
		</operation>
		<operation name="check_available_hotel">
			<input message="tns:check_available_hotel" />
			<output message="tns:check_available_hotel_response" />
		</operation>
		<operation name="get_all_hotels">
			<input message="tns:get_all_hotels" />
			<output message="tns:get_all_hotels_response" />
		</operation>
	</portType>
	<binding name="services_binding" type="tns:services_port">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="add_new_hotel">
			<soap:operation soapAction="add_new_hotel" />
			<input>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</output>
		</operation>
		<operation name="is_existed_hotel">
			<soap:operation soapAction="is_existed_hotel" />
			<input>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</output>
		</operation>
		<operation name="find_hotels_by_city">
			<soap:operation soapAction="find_hotels_by_city" />
			<input>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</output>
		</operation>
		<operation name="add_new_constract">
			<soap:operation soapAction="add_new_constract" />
			<input>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</output>
		</operation>
		<operation name="check_available_hotel">
			<soap:operation soapAction="check_available_hotel" />
			<input>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</output>
		</operation>
		<operation name="get_all_hotels">
			<soap:operation soapAction="get_all_hotels" />
			<input>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:hotel_ws" />
			</output>
		</operation>
	</binding>
	<service name="service">
		<port name="services_port" binding="tns:services_binding">
			<soap:address location="http://127.0.0.1:3332/services/action" />
		</port>
	</service>
</definitions>