bpelContent/TravelWS.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="urn:travel_ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="travel_services"
	targetNamespace="urn:travel_ws">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="urn:travel_ws">
			<element name="add_new_constract_request">
				<complexType>
					<sequence>
						<element name="tourID" type="int" />
						<element name="customerIdNumber" type="string" />
						<element name="companyName" type="string" />
						<element name="companyPhone" type="string" />
						<element name="companyAddress" type="string" />
						<element name="bookingTickets" type="int" />
					</sequence>
				</complexType>
			</element>
			
			<element name="add_new_constract_response">
				<complexType>
					<sequence>
						<element name="result" type="string" />
					</sequence>
				</complexType>
			</element>
			
			<element name="check_available_tour_response">
				<complexType>
					<sequence>
						<element name="result" type="string" />
					</sequence>
				</complexType>
			</element>
			
			<element name="check_available_tour_request">
				<complexType>
					<sequence>
						<element name="tourCode" type="string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="add_new_place">
		<part name="code" type="xsd:string" />
		<part name="name" type="xsd:string" />
		<part name="city" type="xsd:string" />
		<part name="country" type="xsd:string" />
		<part name="address" type="xsd:string" />
		<part name="services" type="xsd:string" />
		<part name="description" type="xsd:string" />
	</message>
	<message name="add_new_place_response">
		<part name="value" type="xsd:string" />
	</message>
	<message name="is_existed_place">
		<part name="code" type="xsd:string" />
		<part name="name" type="xsd:string" />
	</message>
	<message name="is_existed_place_response">
		<part name="value" type="xsd:boolean" />
	</message>
	<message name="add_new_tour">
		<part name="code" type="xsd:string" />
		<part name="placeID" type="xsd:int" />
		<part name="startDate" type="xsd:date" />
		<part name="tickets" type="xsd:int" />
		<part name="cost" type="xsd:int" />
		<part name="description" type="xsd:string" />
	</message>
	<message name="add_new_tour_response">
		<part name="value" type="xsd:string" />
	</message>
	<message name="is_existed_tour">
		<part name="code" type="xsd:string" />
	</message>
	<message name="is_existed_tour_response">
		<part name="value" type="xsd:boolean" />
	</message>
	<message name="add_new_constract">
		<part name="add_new_constract_request" element="tns:add_new_constract_request" />
	</message>
	<message name="add_new_constract_response">
		<part name="result" element="tns:add_new_constract_response" />
	</message>
	<message name="find_tours_by_city">
		<part name="cityName" type="xsd:string" />
	</message>
	<message name="find_tours_by_city_response">
		<part name="value" type="xsd:string" />
	</message>
	<message name="check_available_tour">
		<part name="tourCode" element="tns:check_available_tour_request" />
	</message>
	<message name="check_available_tour_response">
		<part name="result" element="tns:check_available_tour_response" />
	</message>
	<message name="update_tour_information">
		<part name="code" type="xsd:string" />
		<part name="placeID" type="xsd:int" />
		<part name="startDate" type="xsd:date" />
		<part name="tickets" type="xsd:int" />
		<part name="cost" type="xsd:int" />
		<part name="description" type="xsd:string" />
	</message>
	<message name="update_tour_information_response">
		<part name="value" type="xsd:string" />
	</message>
	<message name="get_all_places"></message>
	<message name="get_all_places_response">
		<part name="value" type="xsd:string" />
	</message>
	<message name="get_all_tours"></message>
	<message name="get_all_tours_response">
		<part name="value" type="xsd:string" />
	</message>
	<message name="find_tour_by_code">
		<part name="code" type="xsd:string" />
	</message>
	<message name="find_tour_by_code_response">
		<part name="value" type="xsd:string" />
	</message>
	<message name="delete_tour_by_code">
		<part name="code" type="xsd:string" />
	</message>
	<message name="delete_tour_by_code_response">
		<part name="value" type="xsd:string" />
	</message>
	<portType name="travel_services_port">
		<operation name="add_new_place">
			<input message="tns:add_new_place" />
			<output message="tns:add_new_place_response" />
		</operation>
		<operation name="is_existed_place">
			<input message="tns:is_existed_place" />
			<output message="tns:is_existed_place_response" />
		</operation>
		<operation name="add_new_tour">
			<input message="tns:add_new_tour" />
			<output message="tns:add_new_tour_response" />
		</operation>
		<operation name="is_existed_tour">
			<input message="tns:is_existed_tour" />
			<output message="tns:is_existed_tour_response" />
		</operation>
		<operation name="add_new_constract">
			<input message="tns:add_new_constract" />
			<output message="tns:add_new_constract_response" />
		</operation>
		<operation name="find_tours_by_city">
			<input message="tns:find_tours_by_city" />
			<output message="tns:find_tours_by_city_response" />
		</operation>
		<operation name="check_available_tour">
			<input message="tns:check_available_tour" />
			<output message="tns:check_available_tour_response" />
		</operation>
		<operation name="update_tour_information">
			<input message="tns:update_tour_information" />
			<output message="tns:update_tour_information_response" />
		</operation>
		<operation name="get_all_places">
			<input message="tns:get_all_places" />
			<output message="tns:get_all_places_response" />
		</operation>
		<operation name="get_all_tours">
			<input message="tns:get_all_tours" />
			<output message="tns:get_all_tours_response" />
		</operation>
		<operation name="find_tour_by_code">
			<input message="tns:find_tour_by_code" />
			<output message="tns:find_tour_by_code_response" />
		</operation>
		<operation name="delete_tour_by_code">
			<input message="tns:delete_tour_by_code" />
			<output message="tns:delete_tour_by_code_response" />
		</operation>
	</portType>
	<binding name="travel_services_binding" type="tns:travel_services_port">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="add_new_place">
			<soap:operation soapAction="add_new_place" />
			<input>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</output>
		</operation>
		<operation name="is_existed_place">
			<soap:operation soapAction="is_existed_place" />
			<input>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</output>
		</operation>
		<operation name="add_new_tour">
			<soap:operation soapAction="add_new_tour" />
			<input>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</output>
		</operation>
		<operation name="is_existed_tour">
			<soap:operation soapAction="is_existed_tour" />
			<input>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</output>
		</operation>
		<operation name="add_new_constract">
			<soap:operation soapAction="add_new_constract" />
			<input>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</output>
		</operation>
		<operation name="find_tours_by_city">
			<soap:operation soapAction="find_tours_by_city" />
			<input>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</output>
		</operation>
		<operation name="check_available_tour">
			<soap:operation soapAction="check_available_tour" />
			<input>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</output>
		</operation>
		<operation name="update_tour_information">
			<soap:operation soapAction="update_tour_information" />
			<input>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</output>
		</operation>
		<operation name="get_all_places">
			<soap:operation soapAction="get_all_places" />
			<input>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</output>
		</operation>
		<operation name="get_all_tours">
			<soap:operation soapAction="get_all_tours" />
			<input>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</output>
		</operation>
		<operation name="find_tour_by_code">
			<soap:operation soapAction="find_tour_by_code" />
			<input>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</output>
		</operation>
		<operation name="delete_tour_by_code">
			<soap:operation soapAction="delete_tour_by_code" />
			<input>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</input>
			<output>
				<soap:body use="literal" namespace="urn:travel_ws" />
			</output>
		</operation>
	</binding>
	<service name="travel_service">
		<port name="travel_services_port" binding="tns:travel_services_binding">
			<soap:address location="http://127.0.0.1:3333/travel_services/action" />
		</port>
	</service>
</definitions>